<mat-toolbar>
  <span>{{service.formProduct.controls['id'].value? "Modify Asset": "New Asset"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabindex="-1"> <mat-icon>clear</mat-icon></button>
</mat-toolbar>
<form [formGroup]="service.formProduct" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="2" rowHeight="550px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="id">
        <mat-form-field>
          <input formControlName="name" matInput placeholder="Asset Name*">
          <mat-error>This is a mandatory field</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="date_received" matInput [matDatepicker]="picker" placeholder="Date Received">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-select formControlName="category" placeholder="Category" >
            <mat-option>None</mat-option>
            <ng-container *ngFor="let category of categories">
              <mat-option value="{{category.name}}">{{category.name}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="number" matInput placeholder="Number">
          <mat-error>This is a mandatory field</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="user" matInput placeholder="User">
          <mat-error>This is a mandatory field</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="description" matInput placeholder="Description">
          <mat-error>This is a mandatory field</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="purchase_value" matInput placeholder="Purchase Value">
          <mat-error>This is a mandatory field</mat-error>
        </mat-form-field>

      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controles-container">

        <mat-form-field>
          <input formControlName="location" matInput placeholder="Location">
          <mat-error>This is a mandatory field</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="project" matInput placeholder="Project">
          <mat-error>This is a mandatory field</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="number" matInput placeholder="Asset Number">
          <mat-error>This is a mandatory field</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="chasis_number" matInput placeholder="Chasis Number">
          <mat-error>This is a mandatory field</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="engine_number" matInput placeholder="Engine Number">
          <mat-error>This is a mandatory field</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="serial_number" matInput placeholder="Serial Number">
          <mat-error>This is a mandatory field</mat-error>
        </mat-form-field>


          <input hidden formControlName="date_commissioned" matInput [matDatepicker]="picker1" placeholder="Date Commissioned">

        <mat-form-field>
          <input formControlName="licence_plate" matInput placeholder="Revaluation">
          <mat-error>This is a mandatory field</mat-error>
        </mat-form-field>

        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" [disabled]="service.formProduct.invalid">Submit</button>
          <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
        </div>
      </div>

    </mat-grid-tile>
  </mat-grid-list>
</form>

